@import url('http://fonts.cdnfonts.com/css/product-sans');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: white;
    background-color: #333;
}

/*
            
    .-.     
 .-,| |,-.  
 _\ ' ' /_  
(__     __) 
  / . . \   
 `-'| |`-'  
    `-'     
            
 Nav bar
 
 */

header{
    width: 100vw;
    height: 75px;
    
    
}
nav{
    position: absolute;
    top: 25px;
    right: 0px;
    height: 75px;
}


#nav-links{
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 10px;
    
}

#nav-links a{
    color: #ffe;
    text-decoration: none;
}

#nav-links a:hover{
    text-decoration: underline;
}

.spec-button{
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spec-button:hover{
    background-color: rgb(116, 114, 114); ;
}

#google-apps{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background: none;
}

#google-account{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: #512DA8ff;
}


/* 
/*
            
    .-.     
 .-,| |,-.  
 _\ ' ' /_  
(__     __) 
  / . . \   
 `-'| |`-'  
    `-'     
            
Main Section
 
*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    
}

#main-content{
    height: 50vw;
    width: 70vw;
    max-width: 700px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-group{
    width: 100%;
    position: absolute;
    top: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logo{
    font-family: 'Product Sans', sans-serif;
    font-size: 90px;
    font-weight: 500;
    margin-bottom: 38px;
    position: relative;
    right: 30px;
}

#logo span{
    position: absolute;
    transform: rotate(-15deg);
    
}
#bar{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    height: 45px;
    width: 70%;
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
}

#search-bar-textarea{
    font-size: 15px;
}

#search-bar-textarea:focus{
    outline: none;
}
.voiceSearch{
    height: 100%;
    width: 10%;
    margin: 0;
    padding: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
    
}

#microphone{
    height: 60%;
    
}
.searchTerm{
    width: 90%;
    height: 100%;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding-left: 30px;
}

#addShortcut{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 15px;
}

#addShortcut:hover{
    background-color: rgb(116, 114, 114); ;

}

.plus-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #2A2A2Aff;
    margin-bottom: 20px;
}

.fa-plus{
    width: 15px;
    height: 15px;
    
}

#addShortcut span{
    font-size: 13px;
}

/* customize button and menu */

/* Dimensions 

height: 33px
width: 120px
font-size:
distance from bottom: 17px
distance from right:  17px

*/

#customize{
    position: absolute;
    bottom: 17px;
    right: 17px;
    width: 120px;
    height: 33px;
    border: none;
    border-radius: 16px;
    color: #4285F4;
    background-color: white;
}

#customize i {
    margin-right: 5px;
}

#customize:hover{
    cursor: pointer;
    background-color: #e4eef5;
}


/*
Modals

#google-apps
div 1: 3x6 grid
a grey line
div 2: 3x6 grid
button: more from google

#google-account


*/