*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: white;
    background-color: #333;
}

/* Nav bar */

header{
    width: 100vw;
    height: 75px;
    
    
}
nav{
    position: absolute;
    top: 25px;
    right: 0px;
    height: 75px;
}

#navbar{
    width: 300px;
}

#nav-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/* Main Section */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    
}

#main-content{
    height: 50vw;
    width: 70vw;
    max-width: 700px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#logo{
    font-size: 10vw;
}
#bar{
    height: 70% ;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    height: 10vw;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.voiceSearch{
    height: 100%;
    width: 10%;
    margin: 0;
    padding: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
    
}

#microphone{
    height: 60%;
    
}
.searchTerm{
    width: 90%;
    height: 100%;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding-left: 30px;
}


